#landing-page {
    background-image: url(../images/life.jpg);
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.col {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding top: 70px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.started {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sighting-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.form-group {
  --default-color: white;
  --border-bottom-color: white;
}

.form-group {
    margin: 12px 0;
  }

.btn {
    width: 100%;
    margin: 18px 0 9px 0;
}

.screen {
	position: relative;
	width: 330px;
	height: 600px;
	border-radius: 25px;
	background: indianred;
}

.screen-title {
	color: #002771;
	font-weight: 900;
	max-width: 80%;
	margin: 40px;
	font-size: 35px;
	line-height: 49px;
}

.screen-form {
	width: 85%;
	margin: 60px auto 0 auto;
	padding: 25px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(0,0,0,0,19),
				0 6px 6px rgba(0,0,0,0,23);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

