{{#partial "content"}}
    <div class="container-fluid" id="landing-page">
        <div class="topnav navbar-expand-sm fixed-top navbar-light">
            <a href="/sightings">SIGHTINGS</a>
            <a href="/rangers">RANGERS</a>
        </div>
        <div class="row">
            <div class="col">
                <h1>WILDLIFE TRACKER</h1>
                <button class="started"><a href="/sightings/new">GET STARTED</a></button>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}