{{#partial "content"}}
    <div class="container-fluid" id="landing-page">
        <div class="row">
            <div class="col">
                <h2>WILDLIFE TRACKER</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>Selection</legend>
                    <p><a href="/sightings/new">Add New Sighting</a></p>
                    <p><a href="">Sightings</a></p>
                    <p><a href="">Ranger</a></p>
                </fieldset>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}